<p appHighLight style = 'width: 500px;' >about works!</p>
<p [appHighLight] ="myColor" >about works!</p>
<p [appHighLight] = "'orange'">hihiihihihi</p>
<p [appHighLight] = "'pink'">hihiihihihi</p>


<ul [ngSwitch] = "LoginName">
    <li *ngSwitchCase = "'user'">
        <p> User is logged in .....</p>
    </li>
    <li *ngSwitchCase = "'admin'">
        <p>admin is logged in ....!</p>
        <app-home></app-home>
    </li>
    <li *ngSwitchDefault>
        <p> Please choose login name </p>
    </li>
</ul>

<span>Counter = {{ counter }}</span>
<br/>
<span>Counter ^ 2 = {{counterBinhPhuong}} </span>