<div class="test">
    <h1>welcome to component home</h1>
    <p> thêm hàng thứ 2 </p>
    <!-- <h1>Trai Cây</h1> -->
    <!-- <div *ngFor = "let trai of traiCay ; let i = index">
        <li>{{ i + 1}}. {{trai}}</li> -->

    <br />

    <!-- <table class="table">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Giá</th>
            <th>Đại Hạ Giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{trai.name | lowercase }}</td>
            <td class="right">
                <span [ngClass]="{'so-am': trai.gia < 0 }">{{ trai.gia | currency:'VND':'symbol':'2.3'}}</span>
            </td>
            <td>
                <span>{{ trai.haGia | onSale | uppercase}}</span>
            </td>
        </tr>
    </table> -->

    Tỉnh / Thành Phố:
    <select id="city" (change)="changeCity($event)">
        <option *ngFor="let data of vietnamData" value="{{data.city}}">
            {{data.city}}
        </option>
    </select>
    <br />
    Quận / Huyện:
    <select id="district">
        <option *ngFor="let district of districts" value="{{district}}">
            {{district}}
        </option>
    </select>
    <br/>
    <span>Counter = {{ counter }}</span>
    <br/>
    <span>Counter ^ 2 = {{counterBinhPhuong}} </span>
</div>